<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <!-- Include the navbar here -->
    {% include 'nav-bar.html' %}

    <!-- Page-specific content -->
    <div class="content">
        {% block content %}{% endblock %}
        {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
      {% for category, message in messages %}
        <li class="alert alert-{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    </div>
</body>
</html>